!!!
%html
%head
  %title absoluteJAMS
  = csrf_meta_tags
  = csp_meta_tag
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %link{ rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Lato", type: "text/css" }
  %link{ rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css", type: "text/css" }
  = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
%body
  %header.main_header.clearfix
    .wrapper
      #logo
        %p= link_to "absoluteJAMS", root_path
      #buttons
        - if user_signed_in?
          = link_to "New Post", new_post_path
          = link_to "Log Out", destroy_user_session_path, method: :delete
        - else
          = link_to "Sign Up", new_user_registration_path
          = link_to "Sign In", new_user_session_path


  .wrapper
    %p.notice= notice
    %p.alert= alert

  .wrapper
    = yield

:javascript
  $(document).on('ready page:load', function () {
    $('#post_tag_ids').chosen({
      allow_single_deselect: true,
      width: '100%'
    })
  });
