!!!
%html
%head
  %title absoluteJAMS
  = csrf_meta_tags
  = csp_meta_tag
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %link{ rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Lato", type: "text/css" }
  %link{ rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css", type: "text/css" }
  = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
%body
  %header.main_header.clearfix
    .wrapper
      #logo
        %h1= link_to "absoluteJAMS", root_path
      #buttons
        - if user_signed_in?
          = link_to "New Post", new_post_path
          = link_to "Log Out", destroy_user_session_path, method: :delete
        - else
          = link_to "Sign Up", new_user_registration_path
          = link_to "Sign In", new_user_session_path
      #tags
        %p= link_to "Bands", "/tags/Bands"
        %p= link_to "Bluegrass", "/tags/Bluegrass"
        %p= link_to "Blues", "/tags/Blues"
        %p= link_to "Classical", "/tags/Classical"
        %p= link_to "Country", "/tags/Country"
        %p= link_to "Electronic", "/tags/Electronic"
        %p= link_to "Folk", "/tags/Folk"
        %p= link_to "Hip Hop", "/tags/Hip%20Hop"
        %p= link_to "Instrumental", "/tags/Instrumental"
        %p= link_to "Jam Bands", "/tags/Jam%20Bands"
        %p= link_to "Jazz", "/tags/Jazz"
        %p= link_to "Latin", "/tags/Latin"
        %p= link_to "Lo-Fi", "/tags/Lo-Fi"
        %p= link_to "Metal", "/tags/Metal"
        %p= link_to "Pop", "/tags/Pop"
        %p= link_to "Rap", "/tags/Rap"
        %p= link_to "Rock", "/tags/Rock"
        %p= link_to "Tours", "/tags/Tours"
        %p= link_to "World", "/tags/World"

   

  .wrapper
    %p.notice= notice
    %p.alert= alert

  .wrapper
    = yield

:javascript
  $(document).on('ready page:load', function () {
    $('#post_tag_ids').chosen({
      allow_single_deselect: true,
      width: '100%'
    })
  });
